<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lovelist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".upcoupon"></activity>
        <activity android:name=".couponList" />
        <activity android:name=".StartScene" />
        <activity android:name=".unChecked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Checked" />
        <activity android:name=".detail_list" />
        <activity android:name=".insertpage" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>