<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myhairdiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NLogin"></activity>
        <activity android:name=".designers.trace.TrackingMemo" />
        <activity android:name=".testMain" />
        <activity android:name=".designers.trace.Tracking" />
        <activity
            android:name=".calendar.CalbasicActivity"
            android:label="@string/title_activity_calbasic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".calendar.EditActivity" />
        <activity android:name=".designers.test.dimg_adpt_list" />
        <activity android:name=".designers.portfolio" />
        <activity android:name=".social.youtube" />
        <activity android:name=".social.insta" />
        <activity android:name=".social.faceB" />
        <activity android:name=".designers.detaildesigner" />
        <activity android:name=".social.navermaps" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="cgy00qd0hd" />

        <activity android:name=".register.Register" />
        <activity android:name=".designers.designers_profile" />
        <activity android:name=".calendar.mainpage" />
        <activity android:name=".Mypage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>