<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myhairdiary_c">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".mypage.glide_mystyles"></activity>
        <activity android:name=".mypage.glide_mydesigners" />
        <activity android:name=".mypage.Mypage2" />
        <activity android:name=".Setting" />
        <activity android:name=".mypage.Mypage" />
        <activity android:name=".main.second.findpage.find8page" />
        <activity android:name=".main.second.findpage.find7page" />
        <activity android:name=".main.second.findpage.find6page" />
        <activity android:name=".main.second.findpage.find5page" />
        <activity android:name=".main.second.findpage.find4page" />
        <activity android:name=".main.second.findpage.find2page_man" />
        <activity android:name=".main.second.findpage.find2page_woman" />
        <activity android:name=".main.second.findpage.find1page" />
        <activity android:name=".main.second.second_home" />
        <activity android:name=".logo_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.detailedTrend" />
        <activity android:name=".main.detailedRecommend" />
        <activity android:name=".designers.detailedDesigner4" />
        <activity android:name=".designers.detailedDesigner3" />
        <activity android:name=".designers.detailedDesigner2" />
        <activity android:name=".designers.detailedDesigner" />
        <activity android:name=".style.Style_Search" />
        <activity android:name=".designers.designer_list" />
        <activity android:name=".main.Home2" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>